*{
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    list-style: none;
}
.box1 {
    height: 300px;
}
.box2 {
    height: 550px;
}
.box3 , .box4 , .box5{
    height: 400px;
}

body{
    font-family: sans-serif;
    text-align: center;
    /* background-image: url(./images/download.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}

/* button:hover{
    padding: 8px 12px  !important;
} */